.header-container {
  position: relative;
  height: 100vh;
}
.header-container::before {
  content: '';
  background-image: url('../../image/unsplash.png');
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
.header-container div {
  position: relative;
  color: black;
}
